@{
    ViewData["Title"] = "Add Movies";
}

@model Mission07_haylowry.Models.Movie

<div class="text-center">
    <h1 class="display-4">Add a Movie</h1>
    <br /><br />
    <form method="post">
        <label asp-for="CategoryID" style="width:4pc;">Category:</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }

        </select>
        <br />

        <label asp-for="Title" style="width:4pc;">Title:</label>
        <input asp-for="Title" /><br />

        <label asp-for="Year" style="width:4pc;">Year:</label>
        <input asp-for="Year" /><br />

        <label asp-for="Director" style="width:4pc;">Director:</label>
        <input asp-for="Director" /><br />

        <label asp-for="Rating" style="width:4pc;">Rating:</label>
        <select asp-for="Rating">
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
        </select><br />

        <div asp-validation-summary="All"></div>

        <button type="submit">Submit Movie</button>
    </form>
</div>

