@{
    ViewData["Title"] = "Add Movies";
}

@model Mission07_haylowry.Models.Movie

<div class="text-center">
    <h1 class="display-4">Thank you for Submitting @Model.Title</h1>
    <br />
    <p>Your suggestion will be reveiwed in the coming weeks<p />
</div>
