@{
    ViewData["Title"] = "Add Movies";
}

<div class="text-center">
    <h1 class="display-4">Thank you for Submitting your Movie</h1>
    <br />
    <p>Your suggestion will be reveiwed in the coming weeks<p />
</div>
